
/* Tipografía general */

body {
    font-family: 'Roboto';
}

p, a {
    font-size: var(--cuerpoTexto);
}

p.precio {
    font-size: var(--precio);
}

p.descuento, h4 {
    font-size: var(--descuentosDescripciones);
}

h3 {
    font-size: var(--titulares);
}

/* header */

header {
    background-color: var(--Amarillo);
    background-size: cover;
    width: 100%;
    padding: 20px 0;

}
header img {
    width: 130px;
    margin: 30px 30px;
    margin-bottom: 10px;
    

}

/* header-div */

button.lupa {
    margin: 1px;
}

div.search {
    margin-left: 20px;

}

p.primer {
    text-align: center;
    margin: 10px 30px;
    font-size: 12px;
}

/* header-nav */

header nav ul li a {
    text-decoration: none;
    color: black;
}

ul.menu1 {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

ul.menu2 {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

/* Botón menu final */

.burger-menu {
    background-color: var(--Celeste);
    display: block;
    padding: 8px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    width: 25px;
}

div.burger-menu i {
    color: var(--GrisClaro);
    font-size: 25px;
}

/* tablet */

@media (min-width: 425px) {

    .burger-menu {
        display: none;
    }

    ul.menu1 {
        display:block;
    }
    
    ul.menu2 {
        display: block;
    }

}

/* Desktop */

@media (min-width:768px) {
    
    

}