* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--Amarillo);
    height: 400px;
    width: 100%;
}
header img {
    width: 130px;
    margin: 30px 30px;
    margin-bottom: 10px;

}

header nav ul li a {
    text-decoration: none;
    color: black;
}

ul.menu1 {
    margin-top: 20px;
}

ul.menu2 {
    margin-top: 20px;
}

.search {
    margin-left: 20px;

}

button.lupa {
    margin: 2px 20px;
}

p.primer {
    text-align: center;
    margin: 10px 30px;
    font-size: 12px;
}

p, a, h3, h4 {
    font-family: 'Roboto';
}

p, a {
    font-size: 12px;
}

p.precio {
    font-size: 18px;
}

p.descuento, h4 {
    font-size: 16px;
}

header div button.menu {
    background: var(--Celeste);
    padding: 8px 10px;
    border-radius: 10px;
}

button.menu i {
    font-size: 30px;
    color: var(--GrisClaro);
    
}
