
body {
    background-color: #ebebeb;
}

main {
    margin: 0 auto;
    width: 90%;
}

h3 {
    color: var(--GrisOscuro);
}

.ultima-visita img {
    width: 100%;

}

.ofertas img {
    width: 100%;
}

article {
    margin-top: 10px;
    margin-bottom: 10px;
}

.articulo {
    background-color: white;
    border-top: solid 1px  #ebebeb;
}

.descuento {
    color: var(--Verde);
    font-size: var(--des);
}

.descripcion {
    font-size: var(--des);
    color: var(--GrisOscuro);
    display: none;
}

.articulo i {
    color: var(--Verde);
    padding: 10px;
    border: 1px solid var(--Verde);
    border-radius: 50%;
    width: 20px;
}

.detalle {
    padding: 15px;
    border-top: solid 1px #ebebeb;
}

.banner {
    display: none;
}

   
/* tablet */

@media (min-width:425px) {
    
    .articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);   
    }

    .banner {
        display: block;
    }

}

/* Desktop */

@media (min-width:769px) {
    
    

}